.users-wrapper{
  min-height: 100%;
  width: 100%;
  padding: 2.5rem 1.5rem;
  border-radius: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.users-wrapper button{margin-bottom: 1rem;}

.users-wrapper ul{list-style: none;}

.users-wrapper li{
  margin-bottom: 1rem;
  line-height: 1.6;
  color: white;
  font-weight: 700;
}

.users-wrapper form{
  display: grid;
  gap: 1rem;
}