.dashboard{
  min-height: 100%;
  width: 100%;
  padding: 2.5rem 1.5rem;
  border-radius: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.dashboard ul{list-style: none;}

.dashboard li{
  margin-bottom: 1rem;
  line-height: 1.6;
  color: white;
  font-weight: 700;
}

.dashboard li button{
  margin-left: 1rem;
}