.file-wrapper{
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
}
.file-wrapper section div{
  min-height: 30vh;
  border: 2px dashed white;
  margin-bottom: 1rem;
  display: grid;
  place-items: center
}
.file-wrapper p{
  margin-bottom: 1rem;
  font-size: .8em;
  outline: none !important;
  padding: 1rem 1.3rem;
  color: white;
  background-color: rgba(255,255,255,0.2);
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  white-space: break-spaces;
}